<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_fd46a2dd8b014e93ab32ecea687c1cc6 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_fd46a2dd8b014e93ab32ecea687c1cc6" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_fd46a2dd8b014e93ab32ecea687c1cc6 = L.map(
        'map_fd46a2dd8b014e93ab32ecea687c1cc6', {
        center: [19.0, 74.0],
        zoom: 10,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_75ab7d1adb5442849ca719ed7a5880ee = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
    
        var marker_c360ad21337d478e8da4fc3ac3487804 = L.marker(
            [19.0, 74.0],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_10ad509220c9479d841e657e89245f0c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c360ad21337d478e8da4fc3ac3487804.setIcon(icon_10ad509220c9479d841e657e89245f0c);
            
    
            var popup_c8e233cd73284a46801460b2ea034236 = L.popup({maxWidth: '100%'
            
            });

            
                var html_2d3162a964ed46f7ad25ba3b605bf489 = $(`<div id="html_2d3162a964ed46f7ad25ba3b605bf489" style="width: 100.0%; height: 100.0%;">Helper or Helping location</div>`)[0];
                popup_c8e233cd73284a46801460b2ea034236.setContent(html_2d3162a964ed46f7ad25ba3b605bf489);
            

            marker_c360ad21337d478e8da4fc3ac3487804.bindPopup(popup_c8e233cd73284a46801460b2ea034236)
            ;

            
        
    
        var marker_1b3224547f614b07bfd2878201cb13ac = L.marker(
            [19.16666667, 74.08333333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_afa25be67bca4732a8965e7772c14fab = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1b3224547f614b07bfd2878201cb13ac.setIcon(icon_afa25be67bca4732a8965e7772c14fab);
            
    
            var popup_6d277b682d004b62aee559413584dc55 = L.popup({maxWidth: '100%'
            
            });

            
                var html_ba75ac5a80cb4525b3d66f1667fee3b5 = $(`<div id="html_ba75ac5a80cb4525b3d66f1667fee3b5" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_6d277b682d004b62aee559413584dc55.setContent(html_ba75ac5a80cb4525b3d66f1667fee3b5);
            

            marker_1b3224547f614b07bfd2878201cb13ac.bindPopup(popup_6d277b682d004b62aee559413584dc55)
            ;

            
        
    
                var poly_line_a2371454d3c44954889fb24fe0135357 = L.polyline(
                    [[19.0, 74.0], [19.16666667, 74.08333333, 20.503708452891807]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_fb7cd138ea4b4bf48095f8e779520007 = L.marker(
            [19.16666667, 74.21666667],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_63166b2249c943c4bc98b4c5fb6f87ab = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fb7cd138ea4b4bf48095f8e779520007.setIcon(icon_63166b2249c943c4bc98b4c5fb6f87ab);
            
    
            var popup_61f32eebefee437497f633408739d02b = L.popup({maxWidth: '100%'
            
            });

            
                var html_e0321a7133b042ca9baed6fe72b50a32 = $(`<div id="html_e0321a7133b042ca9baed6fe72b50a32" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_61f32eebefee437497f633408739d02b.setContent(html_e0321a7133b042ca9baed6fe72b50a32);
            

            marker_fb7cd138ea4b4bf48095f8e779520007.bindPopup(popup_61f32eebefee437497f633408739d02b)
            ;

            
        
    
                var poly_line_fd39cf5327b34404a070dba4a82f7208 = L.polyline(
                    [[19.0, 74.0], [19.16666667, 74.21666667, 29.366404643778164]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_40c5517489624d10aad3963762ffed5c = L.marker(
            [19.13333333, 74.19305556],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_ab9f74aca62c4eb299063ef62a202e9f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_40c5517489624d10aad3963762ffed5c.setIcon(icon_ab9f74aca62c4eb299063ef62a202e9f);
            
    
            var popup_720fad6df80646fc99424f23e1d47459 = L.popup({maxWidth: '100%'
            
            });

            
                var html_30552a3f02304c608a04785cbd9ea0f7 = $(`<div id="html_30552a3f02304c608a04785cbd9ea0f7" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_720fad6df80646fc99424f23e1d47459.setContent(html_30552a3f02304c608a04785cbd9ea0f7);
            

            marker_40c5517489624d10aad3963762ffed5c.bindPopup(popup_720fad6df80646fc99424f23e1d47459)
            ;

            
        
    
                var poly_line_bed3eb43c85648edbf77d3c0f05ef5a2 = L.polyline(
                    [[19.0, 74.0], [19.13333333, 74.19305556, 25.136711010709757]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_85eda43fff284958b789daddcfd53f9d = L.marker(
            [19.20611111, 73.86944444],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_50d5e9d972414584b8b89ecdb5acf690 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_85eda43fff284958b789daddcfd53f9d.setIcon(icon_50d5e9d972414584b8b89ecdb5acf690);
            
    
            var popup_3fccc893674d47419fd16a01704e6948 = L.popup({maxWidth: '100%'
            
            });

            
                var html_ffbedf5bfeb84c90b5869053320ec092 = $(`<div id="html_ffbedf5bfeb84c90b5869053320ec092" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_3fccc893674d47419fd16a01704e6948.setContent(html_ffbedf5bfeb84c90b5869053320ec092);
            

            marker_85eda43fff284958b789daddcfd53f9d.bindPopup(popup_3fccc893674d47419fd16a01704e6948)
            ;

            
        
    
                var poly_line_bc2a78c349184a6db6290191207dfd9f = L.polyline(
                    [[19.0, 74.0], [19.20611111, 73.86944444, 26.718542853634087]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_0abfebf5f1554559b7c5d424e5e64dcc = L.marker(
            [18.89583333, 74.18333333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_293e6a8012154dd09440fded6508fb57 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0abfebf5f1554559b7c5d424e5e64dcc.setIcon(icon_293e6a8012154dd09440fded6508fb57);
            
    
            var popup_6a8ec4174500446ebd877b41663230ee = L.popup({maxWidth: '100%'
            
            });

            
                var html_b3d992c531df47f48d4fc8c3082b6880 = $(`<div id="html_b3d992c531df47f48d4fc8c3082b6880" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_6a8ec4174500446ebd877b41663230ee.setContent(html_b3d992c531df47f48d4fc8c3082b6880);
            

            marker_0abfebf5f1554559b7c5d424e5e64dcc.bindPopup(popup_6a8ec4174500446ebd877b41663230ee)
            ;

            
        
    
                var poly_line_da05bafda013443ab59cfa375cd7a945 = L.polyline(
                    [[19.0, 74.0], [18.89583333, 74.18333333, 22.499786332317058]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_0f6eb26f2e92436f9a226f7e04cb7ed0 = L.marker(
            [19.13333333, 73.98333333],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_a76c27a35074467f888edd6e79f4aa95 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0f6eb26f2e92436f9a226f7e04cb7ed0.setIcon(icon_a76c27a35074467f888edd6e79f4aa95);
            
    
            var popup_f35192fc549948aa8ad22c01f0d164db = L.popup({maxWidth: '100%'
            
            });

            
                var html_d557efed45014d44ad827a0fb7dd6826 = $(`<div id="html_d557efed45014d44ad827a0fb7dd6826" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_f35192fc549948aa8ad22c01f0d164db.setContent(html_d557efed45014d44ad827a0fb7dd6826);
            

            marker_0f6eb26f2e92436f9a226f7e04cb7ed0.bindPopup(popup_f35192fc549948aa8ad22c01f0d164db)
            ;

            
        
    
                var poly_line_1047b504c10341c5b75818658ff21ec5 = L.polyline(
                    [[19.0, 74.0], [19.13333333, 73.98333333, 14.933785666211682]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_3e3c6a1519524bb88758150aeb5a1025 = L.marker(
            [19.27083333, 73.96666667],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_2126f41088ce4540aa46bbca52c665d7 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3e3c6a1519524bb88758150aeb5a1025.setIcon(icon_2126f41088ce4540aa46bbca52c665d7);
            
    
            var popup_aa545c0faf8b4bd1aca2cf21fc62e5ab = L.popup({maxWidth: '100%'
            
            });

            
                var html_c40f1ac0a1b94c1abca6cabc24673db7 = $(`<div id="html_c40f1ac0a1b94c1abca6cabc24673db7" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_aa545c0faf8b4bd1aca2cf21fc62e5ab.setContent(html_c40f1ac0a1b94c1abca6cabc24673db7);
            

            marker_3e3c6a1519524bb88758150aeb5a1025.bindPopup(popup_aa545c0faf8b4bd1aca2cf21fc62e5ab)
            ;

            
        
    
                var poly_line_402f21140e67486b8536f1f5a08a3f54 = L.polyline(
                    [[19.0, 74.0], [19.27083333, 73.96666667, 30.327708480567644]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_24703b0afde44e24aa3357b261cb566b = L.marker(
            [18.83055556, 74.05694444],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_d1fd451000154d0699b21136a9967503 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_24703b0afde44e24aa3357b261cb566b.setIcon(icon_d1fd451000154d0699b21136a9967503);
            
    
            var popup_76bf16737df040cc87e5ed4d9cb6c833 = L.popup({maxWidth: '100%'
            
            });

            
                var html_139ced64cb8b45dd91e371942fa2fc25 = $(`<div id="html_139ced64cb8b45dd91e371942fa2fc25" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_76bf16737df040cc87e5ed4d9cb6c833.setContent(html_139ced64cb8b45dd91e371942fa2fc25);
            

            marker_24703b0afde44e24aa3357b261cb566b.bindPopup(popup_76bf16737df040cc87e5ed4d9cb6c833)
            ;

            
        
    
                var poly_line_3b0b58f47c2f457a8bf1ef7eee738e2e = L.polyline(
                    [[19.0, 74.0], [18.83055556, 74.05694444, 19.7768162196862]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_625043ae06c44b579a123d695f22d7a7 = L.marker(
            [18.75833333, 74.24444444],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_de99bf12f31c48e59869fbb6d29f8ae8 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_625043ae06c44b579a123d695f22d7a7.setIcon(icon_de99bf12f31c48e59869fbb6d29f8ae8);
            
    
            var popup_a724ce377f724ab88a1c5832b7f10dc3 = L.popup({maxWidth: '100%'
            
            });

            
                var html_6f24ffac4e4c4a4fa3e9c5b3d7e79db7 = $(`<div id="html_6f24ffac4e4c4a4fa3e9c5b3d7e79db7" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_a724ce377f724ab88a1c5832b7f10dc3.setContent(html_6f24ffac4e4c4a4fa3e9c5b3d7e79db7);
            

            marker_625043ae06c44b579a123d695f22d7a7.bindPopup(popup_a724ce377f724ab88a1c5832b7f10dc3)
            ;

            
        
    
                var poly_line_859a62e7c568483eaf2d3f83c14433e0 = L.polyline(
                    [[19.0, 74.0], [18.75833333, 74.24444444, 37.207936347006125]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
    
        var marker_49e05851d5934c21ac189f14442d2502 = L.marker(
            [18.81666667, 74.36666667],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
        
    

                var icon_7a35e7e9aba8495d8198334dfcc65536 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_49e05851d5934c21ac189f14442d2502.setIcon(icon_7a35e7e9aba8495d8198334dfcc65536);
            
    
            var popup_28317c61420c4900a6f34c3c5fd3293c = L.popup({maxWidth: '100%'
            
            });

            
                var html_0d29f68689b3436f9316a74ed94ff98a = $(`<div id="html_0d29f68689b3436f9316a74ed94ff98a" style="width: 100.0%; height: 100.0%;">Some Other Location</div>`)[0];
                popup_28317c61420c4900a6f34c3c5fd3293c.setContent(html_0d29f68689b3436f9316a74ed94ff98a);
            

            marker_49e05851d5934c21ac189f14442d2502.bindPopup(popup_28317c61420c4900a6f34c3c5fd3293c)
            ;

            
        
    
                var poly_line_0537f77a9ab4496e97ba489f0983a30d = L.polyline(
                    [[19.0, 74.0], [18.81666667, 74.36666667, 43.64082925318989]],
                    {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 2.5
}
                    )
                    .addTo(map_fd46a2dd8b014e93ab32ecea687c1cc6);
            
</script>