<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Catchment Prediction</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>


<div class="container">
 
 
  <h2>Inputs to predict catchment :</h2>
  <form  action="/Results" method="post" role="form" enctype = "multipart/form-data">
    {{ form.csrf }}
    <div>
	<br>
	<br>
      <label for="lat" style="float: left;margin: 0 20px 0 0;">Lat:</label>
      <input type="number" step="any" class="form-control" id="lat" name="lat" placeholder="latitude" style="width: 300px;float: left;margin: 0 20px 0 0;">
      <label for="long" style="float: left;margin: 0 20px 0 0;">Long:</label>
      <input type="number" step="any" class="form-control" id="long" name="long" placeholder="longitude" style="width: 300px;float: left;margin: 0 20px 0 0;">
	  <a href="{{ url_for('show_basic_input_map') }}">See map</a>
      <br>
	  <br>
	  <br>
      <label for="rainwater">Rainwater:</label>
      <input type="number" step="any" class="form-control" id="rainwater" name="rainwater" placeholder="rainwater">
	  <br>
	  <label for="groundwater">Groundwater:</label>
      <input type="number" step="any"  class="form-control" id="groundwater" name="groundwater" placeholder="groundwater">
      <br>
	  <label for="elevation">Elevation:</label>
      <input type="number" step="any" class="form-control" id="elevation" name="elevation" placeholder="elevation">
      <br>
	  <label for="soil_score">Soil score:</label>
      <input type="number" step="any" class="form-control" id="soil_score" name="soil_score" placeholder="soil score">
      <br>
	  
 
    </div>
    <center><button type="submit" class="btn btn-success">Submit</button></center>
  </form>
  <br>
  <form action="/batch_input" class="form-group">
    <center><button class="btn btn-success" >Batch_input</button></center>
  </form>
 
 

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong></strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>
